Blueprints/Capture and Create Support Tickets.blueprint.json
{
    "name": "Capture and Create Support Tickets",
    "flow": [
        {
            "id": 1,
            "module": "google-email:TriggerNewEmail",
            "version": 2,
            "parameters": {
                "from": "",
                "text": "",
                "folder": "[Gmail]/All Mail",
                "account": 3878943,
                "subject": "",
                "criteria": "ALL",
                "markSeen": false,
                "maxResults": 1,
                "searchType": "simple"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -223,
                    "y": -16
                },
                "restore": {
                    "parameters": {
                        "folder": {
                            "path": [
                                "All Mail",
                                "All Mail"
                            ]
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "make Project Connection (vashisoni503@gmail.com)"
                        },
                        "criteria": {
                            "label": "All emails"
                        },
                        "searchType": {
                            "label": "Simple filter"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "gmail"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximum number of results",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "criteria",
                        "type": "select",
                        "label": "Criteria",
                        "required": true,
                        "validate": {
                            "enum": [
                                "ALL",
                                "SEEN",
                                "UNSEEN"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "email",
                        "label": "Sender email address"
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Search phrase"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "airtable:ActionCreateRecord",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 3866129
            },
            "filter": {
                "name": "Not empty",
                "conditions": [
                    [
                        {
                            "a": "{{1.subject}}",
                            "o": "exist"
                        },
                        {
                            "a": "{{1.text}}",
                            "o": "exist"
                        }
                    ]
                ]
            },
            "mapper": {
                "base": "app5a93Fct313ipya",
                "table": "tbljrUfUytLjExCr4",
                "record": {
                    "fld4mUxfRvZwwF5c3": "{{1.from.address}}",
                    "fld95s3jkoP06g3P1": "{{1.subject}}",
                    "fldAHDkUqBIn7xWwR": "{{formatDate(now; \"MM/DD/YYYY hh:mm A\")}}",
                    "fldQAq1KCl62Nnk8Q": "{{round(timestamp + (random * 10000))}}",
                    "fldR7RibPCbV7uJrd": "{{1.from.name}}",
                    "fldVy0hD1LlIAMIk9": "{{addHours(now; 4)}}",
                    "fldYfcQkK1AJ2Wp46": "{{1.text}}",
                    "fldhVvuAEWNuT691a": "New",
                    "fldmRlNFeS5niZ79h": "{{1.messageLink}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 122,
                    "y": -15
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "Scenario Leads"
                        },
                        "table": {
                            "label": "Support Ticket Data",
                            "nested": [
                                {
                                    "name": "record",
                                    "spec": [
                                        {
                                            "name": "fldQAq1KCl62Nnk8Q",
                                            "type": "number",
                                            "label": "Ticket ID"
                                        },
                                        {
                                            "name": "fld4mUxfRvZwwF5c3",
                                            "type": "text",
                                            "label": "Customer Email"
                                        },
                                        {
                                            "name": "fldR7RibPCbV7uJrd",
                                            "type": "text",
                                            "label": "Name"
                                        },
                                        {
                                            "mode": "edit",
                                            "name": "fldhVvuAEWNuT691a",
                                            "type": "select",
                                            "label": "Status",
                                            "dynamic": true,
                                            "options": [
                                                {
                                                    "label": "New",
                                                    "value": "New"
                                                },
                                                {
                                                    "label": "In Progress",
                                                    "value": "In Progress"
                                                },
                                                {
                                                    "label": "Completed",
                                                    "value": "Completed"
                                                }
                                            ],
                                            "validate": false
                                        },
                                        {
                                            "name": "fldAHDkUqBIn7xWwR",
                                            "time": true,
                                            "type": "date",
                                            "label": "Created At"
                                        },
                                        {
                                            "name": "fldVy0hD1LlIAMIk9",
                                            "time": true,
                                            "type": "date",
                                            "label": "SLA Deadline"
                                        },
                                        {
                                            "name": "fldmRlNFeS5niZ79h",
                                            "type": "text",
                                            "label": "Link to Email"
                                        },
                                        {
                                            "name": "fld95s3jkoP06g3P1",
                                            "type": "text",
                                            "label": "Subject line",
                                            "multiline": true
                                        },
                                        {
                                            "name": "fldYfcQkK1AJ2Wp46",
                                            "type": "text",
                                            "label": "Email Body",
                                            "multiline": true
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Record"
                                }
                            ]
                        },
                        "record": {
                            "nested": {
                                "fldhVvuAEWNuT691a": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "My Airtable Token or Key connection"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldQAq1KCl62Nnk8Q",
                                "type": "number",
                                "label": "Ticket ID"
                            },
                            {
                                "name": "fld4mUxfRvZwwF5c3",
                                "type": "text",
                                "label": "Customer Email"
                            },
                            {
                                "name": "fldR7RibPCbV7uJrd",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "mode": "edit",
                                "name": "fldhVvuAEWNuT691a",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "fldAHDkUqBIn7xWwR",
                                "time": true,
                                "type": "date",
                                "label": "Created At"
                            },
                            {
                                "name": "fldVy0hD1LlIAMIk9",
                                "time": true,
                                "type": "date",
                                "label": "SLA Deadline"
                            },
                            {
                                "name": "fldmRlNFeS5niZ79h",
                                "type": "text",
                                "label": "Link to Email"
                            },
                            {
                                "name": "fld95s3jkoP06g3P1",
                                "type": "text",
                                "label": "Subject line"
                            },
                            {
                                "name": "fldYfcQkK1AJ2Wp46",
                                "type": "text",
                                "label": "Email Body"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "Ticket ID",
                        "type": "number",
                        "label": "Ticket ID"
                    },
                    {
                        "name": "Customer Email",
                        "type": "text",
                        "label": "Customer Email"
                    },
                    {
                        "name": "Name",
                        "type": "text",
                        "label": "Name"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "Created At",
                        "time": true,
                        "type": "date",
                        "label": "Created At"
                    },
                    {
                        "name": "SLA Deadline",
                        "time": true,
                        "type": "date",
                        "label": "SLA Deadline"
                    },
                    {
                        "name": "Link to Email",
                        "type": "text",
                        "label": "Link to Email"
                    },
                    {
                        "name": "Subject line",
                        "type": "text",
                        "label": "Subject line",
                        "multiline": true
                    },
                    {
                        "name": "Email Body",
                        "type": "text",
                        "label": "Email Body",
                        "multiline": true
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "slack:CreateMessage",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 3898482
            },
            "mapper": {
                "text": "🆕 New Ticket #{{2.`Ticket ID`}} from {{2.Name}}\n\nCustomer Email: {{2.`Customer Email`}}\n\nSLA Deadline: {{2.`SLA Deadline`}}\n\nLink to Email: {{2.`Link to Email`}}",
                "parse": false,
                "mrkdwn": true,
                "channel": "C091Q7468LD",
                "channelType": "public",
                "channelWType": "list"
            },
            "metadata": {
                "designer": {
                    "x": 422,
                    "y": -15
                },
                "restore": {
                    "expect": {
                        "parse": {
                            "mode": "chose"
                        },
                        "mrkdwn": {
                            "mode": "chose"
                        },
                        "channel": {
                            "mode": "chose",
                            "label": "support-flow"
                        },
                        "link_names": {
                            "mode": "chose"
                        },
                        "channelType": {
                            "label": "Public channel"
                        },
                        "channelWType": {
                            "label": "Select from the list"
                        },
                        "unfurl_links": {
                            "mode": "chose"
                        },
                        "unfurl_media": {
                            "mode": "chose"
                        },
                        "reply_broadcast": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "slack3"
                            },
                            "label": "My Slack (bot) connection (copyinnovators.slack.com - make)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:slack2,slack3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "channelWType",
                        "type": "select",
                        "label": "Enter a channel ID or name",
                        "required": true,
                        "validate": {
                            "enum": [
                                "manualy",
                                "list"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text"
                    },
                    {
                        "name": "blocks",
                        "type": "text",
                        "label": "Blocks"
                    },
                    {
                        "name": "thread_ts",
                        "type": "text",
                        "label": "Thread message ID (time stamp)"
                    },
                    {
                        "name": "reply_broadcast",
                        "type": "boolean",
                        "label": "Reply broadcast"
                    },
                    {
                        "name": "link_names",
                        "type": "boolean",
                        "label": "Link names"
                    },
                    {
                        "name": "parse",
                        "type": "boolean",
                        "label": "Parse message text"
                    },
                    {
                        "name": "mrkdwn",
                        "type": "boolean",
                        "label": "Use markdown"
                    },
                    {
                        "name": "unfurl_links",
                        "type": "boolean",
                        "label": "Unfurl primarily text-based content"
                    },
                    {
                        "name": "unfurl_media",
                        "type": "boolean",
                        "label": "Unfurl media content"
                    },
                    {
                        "name": "icon_emoji",
                        "type": "text",
                        "label": "Icon emoji"
                    },
                    {
                        "name": "icon_url",
                        "type": "url",
                        "label": "Icon url"
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "channelType",
                        "type": "select",
                        "label": "Channel type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "public",
                                "private",
                                "im",
                                "mpim"
                            ]
                        }
                    },
                    {
                        "name": "channel",
                        "type": "select",
                        "label": "Public channel",
                        "required": true
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}